.functional-sole {
   width: 90%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: 1.1rem;

   h3,
   h4 {
      text-align: center;
      padding: 0;
   }

   .anamnese {
      width: 95%;
      min-height: 100%;
      padding-left: 2rem;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      margin-bottom: 3rem;

      .anamnese-steps {
         max-width: 50%;
         order: 2;

         .carousel {
            cursor: grab;
            overflow: hidden;

            .inner-carousel {
               display: flex;
               flex-direction: row;

               .item {
                  display: flex;
                  flex-direction: column;
                  min-width: 17rem;
                  margin: 2rem;
                  padding: 0.5rem;
                  // height: auto;
                  border-radius: 20px;
                  background: rgb(110, 211, 244);
                  background: linear-gradient(
                     159deg,
                     rgba(110, 211, 244, 0.5) 0%,
                     rgba(255, 255, 255, 1) 68%
                  );

                  h5 {
                     font-size: 1.3rem;
                     text-align: center;
                  }

                  p {
                     align-items: center;
                     justify-content: center;
                     text-align: center;
                  }
               }
            }
         }
      }

      .anamnese-description {
         max-width: 40%;
         margin-left: 2rem;
      }

      p {
         text-align: justify;

         span {
            font-weight: bold;
            font-size: 1rem;
         }
      }
   }

   .crafting {
      width: 95%;
      min-height: 100%;
      padding: 0 0 2rem 2rem;
      display: flex;
      flex-direction: row;
      gap: 3rem;

      .description {
         min-width: 50%;
      }
      .craft-steps {
         display: flex;
         justify-content: left;
         align-items: center;
         height: 100%;
         min-width: 50%;

         ol {
            display: table;

            .modal {
               position: absolute;
               right: -2rem;
               bottom: 1rem;
               width: 40%;
               height: 40%;
               background-color: white;
               z-index: 1;

               button {
                  position: fixed;
                  right: 10px;
               }
            }

            li {
               padding: 1rem;
               cursor: pointer;
            }
         }
      }
   }
}
