.functional-sole {
   background-color: primaryColor(0.8);
   width: 90%;
   min-height: 80vh;

   h3 {
      text-align: center;
   }

   .anamnese {
      width: 45%;
      min-height: 100%;
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      p {
         text-align: justify;

         span {
            font-weight: bold;
            font-size: 1rem;
         }
      }
      .steps {
         background-color: rgba($color: white, $alpha: 0.3);
         min-height: 100%;

         ol {
            display: table;

            .modal {
               position: fixed;
               left: 15%;
               top: 50%;
               width: 30%;
               height: 30%;
               background-color: white;
               z-index: 1;

               button {
                  position: fixed;
                  right: 10px;
               }
            }

            li {
               margin: 1.5rem 0;
            }
         }
      }
   }
}
