.functional-sole {
   background-color: primaryColor(0.8);
   width: 90%;
   min-height: 80vh;
   margin-bottom: 4rem;
   display: flex;
   font-size: 1.1rem;

   .anamnese,
   .crafting {
      width: 45%;
      min-height: 100%;
      padding: 0 0 2rem 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      h3,
      h4 {
         text-align: center;
         margin: 1rem 0 0 0;
         padding: 0;
      }

      p {
         text-align: justify;

         span {
            font-weight: bold;
            font-size: 1rem;
         }
      }
      .steps {
         background-color: rgba($color: white, $alpha: 0.3);
         min-height: 100%;

         ol {
            display: table;

            .modal {
               position: fixed;
               left: 15%;
               top: 50%;
               width: 30%;
               height: 30%;
               background-color: white;
               z-index: 1;

               button {
                  position: fixed;
                  right: 10px;
               }
            }

            li {
               padding: 1rem;
            }
         }
      }
   }

   .crafting {
      .craft-steps {
         display: flex;
         justify-content: left;
         align-items: center;
         height: 100%;

         ol {
            display: table;

            li {
               padding: 1rem;
            }
         }
      }
   }
}
